
	
body {
background: #ffffffff;
text-align:center;
background-image: url("img/image.jpg");
	background-size: cover;
}
title{
	
#main {
	width: 3000px;
	height:1200px;
	background: #ffffff;
	margin: 25px auto;
	border: solid 2px #ff3819;
	
	
}
h1{
text-align: center;
font-family: "Times New Roman";
font-size: 30pt;
color: #000000;
}
hr {
	height: 20px;
	color: #ff3813;
}
p {
	font-family: "Time New Roman";
	text-align: center-left;
	font-size: 8pt;
	text-indent: 48px;
	color: #000000;
}

